{% extends 'main.html' %}

{% block content %}
<div class="h-screen flex">
    <div class="relative md:container md:mx-auto h-full bg-white py-6">
        <div class="border-b-2 border-gray-400 my-6">
            <div class="absolute left-1/2 -ml-0.5 w-0.5 h-screen bg-gray-400"></div>
        </div>
        <div class="relative mx-8">
            <ul class="vacancies absolute inset-y-0 left-0 divide-y divide-gray-200 dark:divide-gray-700">
                {% for vacancy in new_fil %}
                <li class="px-16 pb-3 sm:pb-4">
                    <div class="flex items-center space-x-4">
                       <div class="flex-shrink-0">
                          <img class="w-8 h-8 rounded-full" src="https://cdn.sberdevices.ru/static/services/target/5d9b9ae7-305f-4d78-9f45-5e6b9597be90/ca858c65-8e7a-458c-8120-6882e9ff19b1.png" alt="Neil image">
                       </div>
                       <div class="flex-1 min-w-0">
                          <a href="#" class="vacancy-link flex text-xl font-medium text-gray-900 hover:text-gray-600 truncate dark:text-white" data-id="{{ vacancy.id }}">
                             {{ vacancy.name }}
                          </a>
                          <a href="#" class="flex text-2xl text-gray-900 hover:text-gray-600">
                            {{ vacancy.company_name }}
                          </a>
                          <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                            {{ vacancy.city }} / Офисс / Возможно удаленно
                          </p>
                          <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                            {{ vacancy.get_experience_display }}
                          </p>
                       </div>
                       <div class="break-keep w-1/12 font-semibold text-gray-900 dark:text-white">
                          От {{ vacancy.salary }} рублей.
                       </div>
                    </div>                                         
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="relative">
            <div class="absolute left-1/2 mx-8">
                <div class="max-w-6xl mx-auto flex flex-wrap py-4 px-4 xl:px-0">
                    <div class="vacancy-detail-container w-full">
                        <p class="vacancy-link-1 flex text-3xl font-medium text-gray-900 hover:text-gray-600 truncate">
                        </p>
                        <p class="vacancy-link-2 flex text-4xl font-medium text-gray-900 hover:text-gray-600 truncate">
                        </p>
                        <p class="vacancy-link-3 flex text-xl font-medium text-gray-600 truncate">
                        </p>
                        <p class="vacancy-link-4 flex text-xl font-medium my-6 text-black truncate">
                        </p>
                        <h class="vacancy-link-5 flex text-lg font-medium my-6 text-black">
                        </p>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}