{% extends 'main.html' %}

{% block content %}
<div class="flex bg-sky-100 h-screen">
    <div class="relative md:container md:mx-auto bg-white py-12 my-4">
        <div class="border-b-4 border-gray-300 my-12">
            <div class="absolute left-1/2 -ml-0.5 w-0.5 h-screen bg-gray-400"></div>
        </div>
        <div class="relative mx-8">
            <ul class="absolute inset-y-0 left-0 divide-y divide-gray-200 dark:divide-gray-700">
                {% for vacancy in vacancies %}
                <li class="pb-3 sm:pb-4">
                    <div class="flex items-center space-x-4">
                       <div class="flex-shrink-0">
                          <img class="w-8 h-8 rounded-full" src="https://cdn.sberdevices.ru/static/services/target/5d9b9ae7-305f-4d78-9f45-5e6b9597be90/ca858c65-8e7a-458c-8120-6882e9ff19b1.png" alt="Neil image">
                       </div>
                       <div class="flex-2 min-w-0">
                          <a href="#" class="vacancy-link flex text-xl font-medium text-gray-900 hover:text-gray-600 truncate dark:text-white" data-id="{{ vacancy.id }}">
                             {{ vacancy.name }}
                          </a>
                          <a href="#" class="vacancy-link flex text-2xl text-gray-900 hover:text-gray-600">
                            {{ vacancy.company_name }}
                          </a>
                          <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                            {{ vacancy.city }} / Офисс / Возможно удаленно
                          </p>
                          <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                            {{ vacancy.get_experience_display }}
                          </p>
                       </div>
                       <div class="w-1/5 inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                          От {{ vacancy.salary }} рублей.
                       </div>
                    </div>                                         
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="relative vacancy-detail-container">
            <div class="absolute left-1/2 mx-8">
                <div class="max-w-6xl mx-auto flex flex-wrap py-6 px-6 xl:px-0">
                    <div class="vacancy-detail-container information w-full lg:w-2/5 lg:p-6">
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block scripts %}

    <script>
        $(function(){

            $(".vacancy-link").on( "click", function() {
                event.preventDefault();
                var vacancyId = $(this).data('id');

                $.ajax({
                    url: '/detail/' + vacancyId + '//',
                    type: 'GET',
                    success: function(data) {
                    $('.vacancy-detail-container').html(data);
                    },
                    error: function(response){
                        console.log('test')
                    },
            });
        });
    })
    </script>

{% endblock %}