{% extends 'main.html' %}

{% block content %}
<div class="h-screen flex">
    <div class="relative md:container md:mx-auto h-full bg-white py-6">
        <form class="flex items-center" method="get" action=".">   
            <label for="search" class="sr-only">Search</label>
            <div class="relative w-5/12">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                    <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
                </div>
                <input type="text" name="query" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5" placeholder="Search" required>
            </div>
            <button type="submit" class="p-2.5 ml-2 text-sm font-medium text-black bg-teal-200 hover:bg-teal-500 rounded-lg border focus:ring-4 focus:outline-none">
                <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
                <span class="sr-only">Search</span>
            </button>
        </form>
        <div class="border-b-2 border-gray-400 my-6">
            <div class="absolute left-1/2 -ml-0.5 w-0.5 h-screen bg-gray-400"></div>
        </div>
        <div class="relative mx-8">
            <ul class="vacancies absolute inset-y-0 left-0 divide-y divide-gray-200 dark:divide-gray-700">
                {% for vacancy in vacancies %}
                <li class="px-16 pb-3 sm:pb-4">
                    <div class="flex items-center space-x-4">
                       <div class="flex-shrink-0">
                          <img class="w-8 h-8 rounded-full" src="https://cdn.sberdevices.ru/static/services/target/5d9b9ae7-305f-4d78-9f45-5e6b9597be90/ca858c65-8e7a-458c-8120-6882e9ff19b1.png" alt="Neil image">
                       </div>
                        <div class="flex-1 min-w-0">
                            <a href="#" data-id="{{ vacancy.id }}" value='TestBut' class="vacancy-link flex text-xl font-medium text-gray-900 hover:text-gray-600 truncate dark:text-black">
                                {{ vacancy.name }}
                            </a>
                            <a href="#" class="flex text-2xl text-gray-900 hover:text-gray-600">
                                {{ vacancy.company_name }}
                            </a>
                            <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                {{ vacancy.city }} / 
                                {% if vacancy.workhome == False %} Офис
                                {% else %} Из дома
                                {% endif %} / 
                                {{ vacancy.get_jobtype_display }}
                            </p>
                            <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                Требуемый опыт работы: 
                                {{ vacancy.get_experience_display }}
                            </p>
                        </div>
                    <div class="break-keep w-1/12 font-semibold text-gray-900 dark:text-black">
                        От {{ vacancy.salary }} рублей.
                    </div>
                    </div>                                         
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="relative">
            <div class="absolute left-1/2 mx-8">
                <div class="max-w-6xl mx-auto flex flex-wrap py-4 px-4 xl:px-0">
                    <div class="vacancy-detail-container w-full">
                        <p class="vacancy-link-1 flex text-3xl font-medium text-gray-900 hover:text-gray-600 truncate">
                        </p>
                        <p class="vacancy-link-2 flex text-4xl font-medium text-gray-900 hover:text-gray-600 truncate">
                        </p>
                        <p class="vacancy-link-3 flex text-xl font-medium text-gray-600 truncate">
                        </p>
                        <p class="vacancy-link-4 flex text-xl font-medium my-6 text-black truncate">
                        </p>
                        <h class="vacancy-link-5 flex text-lg font-medium my-6 text-black">
                        </h>
                        <p class="vacancy-link-6 flex text-xl font-medium my-6 text-black truncate">
                        </p>
                    </div>
                    {% csrf_token %}
                    <div class="inline-flex">
                        <form id="success">
                            <button class="button-add-link">
                            </button>
                        </form>
                        <form id="success">
                            <button class="button-reply-link">
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block scripts %}

    <script>
        $(function(){

            var globalId = 0;

            $(".vacancy-link").on( "click", function() {
                var vacancyId = $(this).data('id');
                globalId = vacancyId;
                event.preventDefault();
                $.ajax({
                    url: '/vacancies/' + vacancyId,
                    type: 'GET',
                    dataType: 'json',
                    success: function(data) {
                    $('.vacancy-link-1').html(data.company_name);
                    $('.vacancy-link-2').html(data.name);
                    $('.vacancy-link-3').html(data.city);
                    $('.vacancy-link-4').html('<p>От &nbsp </p>' + data.salary + 
                    '<p> &nbsp руб.</p>');
                    $('.vacancy-link-5').html(data.description);

                    $('.button-reply-link').html('<button class=bg-gray-300> Откликнуться </button>');
                    $('.button-add-link').html('<button class=bg-teal-200> Сохранить </button>');
                    },
                    error: function(response){
                        console.log('error')
                    },
                });
            });

            $(".button-add-link").on( "click", function() {
                var currentId = globalId;
                event.preventDefault();
                $.ajax({
                    url: '{% url "storage:savedvacancies.html" %}',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        vacancy: currentId,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        action: 'add'
                    },
                    success: function (data) {
                        console.log(data)
                    },
                    error: function (response) {
                        console.log('error')
                    },
                });
            })
        })
    </script>

{% endblock %}