{% with vacancies=item.vacancies %}
<div class="flex items-center space-x-4">
    <div class="flex-shrink-0">
       <img class="w-8 h-8 rounded-full" src="https://cdn.sberdevices.ru/static/services/target/5d9b9ae7-305f-4d78-9f45-5e6b9597be90/ca858c65-8e7a-458c-8120-6882e9ff19b1.png" alt="Neil image">
    </div>
    <div class="flex-1 min-w-0">
         <a href="#" data-id="{{ vacancies.id }}" class="vacancy-link flex text-xl font-medium text-gray-900 hover:text-gray-600 truncate dark:text-black">
             {{ vacancies.name }}
         </a>
         <a href="#" class="flex text-2xl text-gray-900 hover:text-gray-600">
             {{ vacancies.company_name }}
         </a>                                                       
         <p class="text-sm text-gray-500 truncate dark:text-gray-400">
            {{ vacancies.city }} / 
            {% if vacancies.workhome == False %} Офис
            {% else %} Из дома
            {% endif %} / 
            {% if vacancies.jobtype == 'FULL' %} Full-time
            {% elif vacancies.jobtype == 'PART' %} Part-Time
            {% elif vacancies.jobtype == 'TRAINEE' %} Стажировка
            {% elif vacancies.jobtype == 'TEMPORARY' %} Проектная работа
            {% endif %}
         </p>
         <p class="text-sm text-gray-500 truncate dark:text-gray-400">
            Требуемый опыт работы:
             {% if vacancies.experience == 'SIX' %} Более шести лет
             {% elif vacancies.experience == 'NOEXP'%} Без опыта
             {% elif vacancies.experience == 'INTERN'%} После стажировки
             {% elif vacancies.experience == '3TO6'%} От 3 до 6 лет
             {% elif vacancies.experience == '1TO3' %} От 1 до 3 лет
             {% endif %}
         </p>           
    </div>
    <div class="break-keep w-1/12 font-semibold text-gray-900 dark:text-black">
        От {{ vacancies.salary }} рублей.
    </div>
</div>  
{% endwith %}