{% extends 'main.html' %}

{% block content %}
<div class="h-screen flex">
    <div class="relative md:container md:mx-auto h-full bg-white py-6">
        <div class="border-b-2 border-gray-400 my-6">
            <div class="absolute left-1/2 -ml-0.5 w-0.5 h-screen bg-gray-400"></div>
        </div>
        <div class="relative mx-8">
            <ul class="vacancies absolute inset-y-0 left-0 divide-y divide-gray-200 dark:divide-gray-700">
                {% for vacancy in storage %}
                <li class="px-16 pb-3 sm:pb-4">
                    <div class="flex items-center space-x-4">
                        <div class="flex-shrink-0">
                           <img class="w-8 h-8 rounded-full" src="https://cdn.sberdevices.ru/static/services/target/5d9b9ae7-305f-4d78-9f45-5e6b9597be90/ca858c65-8e7a-458c-8120-6882e9ff19b1.png" alt="Neil image">
                        </div>
                        <div class="flex-1 min-w-0">
                             <a href="#" data-id="{{ vacancy.id }}" class="vacancy-link flex text-xl font-medium text-gray-900 hover:text-gray-600 truncate dark:text-black">
                                 {{ vacancy.name }}
                             </a>
                             <a href="#" class="flex text-2xl text-gray-900 hover:text-gray-600">
                                 {{ vacancy.employer }}
                             </a>                                                       
                             <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                {{ vacancy.city }} / 
                                {% if vacancy.workhome == False %} Офис
                                {% else %} Из дома
                                {% endif %} / 
                                {% if vacancy.jobtype == 'FULL' %} Full-time
                                {% elif vacancy.jobtype == 'PART' %} Part-Time
                                {% elif vacancy.jobtype == 'TRAINEE' %} Стажировка
                                {% elif vacancy.jobtype == 'TEMPORARY' %} Проектная работа
                                {% endif %}
                             </p>
                             <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                Требуемый опыт работы:
                                 {% if vacancy.experience == 'SIX' %} Более шести лет
                                 {% elif vacancy.experience == 'NOEXP'%} Без опыта
                                 {% elif vacancy.experience == 'INTERN'%} После стажировки
                                 {% elif vacancy.experience == '3TO6'%} От 3 до 6 лет
                                 {% elif vacancy.experience == '1TO3' %} От 1 до 3 лет
                                 {% endif %}
                             </p>           
                        </div>
                        <div class="break-keep w-1/12 font-semibold text-gray-900 dark:text-black">
                            {% if vacancy.salary %}
                            От {{ vacancy.salary }} рублей.
                            {% endif %}
                        </div>
                    </div>                                     
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="relative">
            <div class="absolute left-1/2 mx-8">
                <div class="max-w-6xl mx-auto flex flex-wrap py-4 px-4 xl:px-0">
                    <div class="vacancy-detail-container w-full">
                        <p class="vacancy-link-1 flex text-3xl font-medium text-gray-900 hover:text-gray-600 truncate">
                        </p>
                        <p class="vacancy-link-2 flex text-4xl font-medium text-gray-900 hover:text-gray-600 truncate">
                        </p>
                        <p class="vacancy-link-3 flex text-xl font-medium text-gray-600 truncate">
                        </p>
                        <p class="vacancy-link-4 flex text-xl font-medium my-6 text-black truncate">
                        </p>
                        <h class="vacancy-link-5 flex text-lg font-medium my-6 text-black">
                        </h>
                        <p class="vacancy-link-6 flex text-xl font-medium my-6 text-black truncate">
                        </p>
                    </div>
                    <div class="inline-flex" id="success" style="display: none;">
                        <button class="button-remove-link font-mono px-3 py-3 rounded-xl text-black bg-red-200 hover:bg-red-300"> 
                            Удалить 
                        </button>
                        <button class="button-reply-link font-mono px-3 py-3 rounded-xl text-black bg-teal-300 hover:bg-teal-400"> 
                            Откликнуться 
                        </button>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block scripts %}

    <script>
        $(function(){

            var globalId = 0;

            $(".vacancy-link").on( "click", function() {
                var vacancyId = $(this).data('id');
                globalId = vacancyId;
                document.getElementById("success").style.display = "block";
                event.preventDefault();
                $.ajax({
                    url: '/vacancies/' + vacancyId,
                    type: 'GET',
                    dataType: 'json',
                    data: {
                        action: 'add'
                    },
                    success: function(data) {
                    $('.vacancy-link-1').html(data.name);
                    $('.vacancy-link-2').html(data.employer);
                    $('.vacancy-link-3').html(data.city);
                    $('.vacancy-link-4').html('<p>От &nbsp </p>' + data.salary + '<p> &nbsp руб.</p>');
                    $('.vacancy-link-5').html(data.description);;
                    },
                    error: function(response){
                        console.log('error')
                    },
                });
            });
            $(".button-remove-link").on( "click", function() {
                var currentId = globalId;
                event.preventDefault();
                $.ajax({
                    url: '{% url "storage:savedvacancies.html" %}',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        vacancy: currentId,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        action: 'remove'
                    },
                    error: function (response) {
                        window.location.reload();
                    },
                });
            })
            $(".button-reply-link").on( "click", function() {
                var currentId = globalId;
                event.preventDefault();
                $.ajax({
                    url: '#',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        vacancy: currentId,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        action: 'reply'
                    },
                    success: function (data) {
                        console.log(data)
                    },
                    error: function (response) {
                        console.log('error')
                    },
                });
            })
        });
    </script>

{% endblock %}