{% extends 'main.html' %}
{% block content %}
<div class="max-w-screen-xl mx-auto pl-16">
    <div class="py-6 pr-64 flex">
        <div class="h-screen w-20 bg-teal-200">
            <p class="font-mono z-10 mb-4 px-4 text-3xl lg:text-8xl text-black">Сервис</p>
            <p class="font-mono z-10 mb-4 px-4 text-3xl lg:text-8xl text-black">Для</p>
            <p class="font-mono z-10 mb-4 px-4 text-3xl lg:text-8xl text-black">Поиска</p>
            <p class="font-mono z-10 mb-4 px-4 text-3xl lg:text-8xl text-black">Работы</p>
            <p class="font-mono z-10 mb-4 px-4 text-3xl lg:text-8xl text-black">И</p>
            <p class="font-mono z-10 mb-4 px-4 text-3xl lg:text-8xl text-black">Сотрудников</p>
        </div>
    </div>
</div>
{% endblock %}