{% extends 'main.html' %}
{% block content %}
<form method="post" class="space-y-4" novalidate>
  {% csrf_token %}
    <div class="flex items-center justify-center h-screen">
      <div class="bg-teal-200 py-8 rounded-md px-10 max-w-lg shadow-md">
        <h1 class="text-center text-lg font-bold bg-white rounded-md text-black">Регистрация</h1>
        <div class="space-y-4 mt-6">
          {{ worker_form }}
        </div>
        <button class="button is-succes w-full mt-5 bg-white text-black py-2 rounded-md font-semibold tracking-tight">Зарегистрироваться</button>
      </div>
    </div>
</form>
{% endblock %}
