{% extends 'main.html' %}

{% block title %} Мой профиль {% endblock %}

{% block content %}

<div class="max-w-6xl mx-auto p-6 px-6">
    <h1 class="mb-6 text-4xl">Мое Резюме</h1>
    <div class="mx-auto">
        <div class="mb-6 text-2xl">
            <strong> Логин: </strong> {{ request.user.username }} <br>
            <strong> E-mail: </strong> {{ request.user.email }}  <br>
            <strong> КТО Я: </strong> {{ request.user.type }} <br>
            <strong> Имя: </strong> {{ request.user.first_name }} <br>
            <strong> Фамилия: </strong> {{ request.user.last_name }} <br>
            <strong> О себе: </strong> {{ request.user.workermore.bio }} <br>
            <strong> Город: </strong> {{ request.user.workermore.city }} <br>
            <strong> Готов к переезду: </strong> {{ request.user.workermore.ready_to_relocate }} <br>
            <strong> Должность: </strong> {{ request.user.workermore.position }} <br>
            <strong> Telegram: </strong> {{ request.user.workermore.telegram_username }} <br>
            <strong> Github: </strong> {{ request.user.workermore.github_username }} <br>
            {% if request.user.workermore.avatar %}
            <a href="#" class="absolute top-28 right-96 px-6 h-200 w-200 ">
                <img class="hover:shadow-lg rounded-xl" src="{{ request.user.avatar.url }}" width="200" height="200">
            </a>
            {% endif %}
        </div>
    </div>
    <h2 class="my-6 text-2xl">Опыт работы:</h2>
    <div class="w-full mb-6 p-5 flex flex-wrap bg-gray-100 rounded-xl">
        <div class="mb-6 w-full">
            <div class="product mb-6 flex pr-6">
                <div class="w-3/4 pl-6">
                    <div class="flex justify-between">
                        <a href="#" class="text-2xl">Сбербанк</a>
                    </div>
                    <div class="mt-6 text-2xl">
                        Инженер-программист Golang
                    </div>
                </div>

                <div>
                    <p class="text-2xl">Дата: 27.04.2222</p>
                </div>
            </div>
        </div>
    </div>
    <a href={% url 'users:work_editprofile' %}>
        <button class="button-reply-link font-mono px-3 py-3 rounded-xl text-black bg-teal-300 hover:bg-teal-400">
        Редактировать
        </button>
    </a>
</div>


{% endblock %}